* {
    cursor: url('project://database/Assets/Resources/Data/UI/Cursor/Default.png');
}

.resize-hor {
    cursor: url('project://database/Assets/Resources/Data/UI/Cursor/Resize_Hor.png?fileID=2800000&guid=3a9a3b1bcc59b344e8139e05ca5a7952&type=3#Resize_Hor') 15 5;
}

.resize-vert {
    cursor: url('project://database/Assets/Resources/Data/UI/Cursor/Resize_Vert.png?fileID=2800000&guid=d1c8a1644935a0f44aa8b1d5473a4e7c&type=3#Resize_Vert');
}

.resize-diag {
    cursor: url('project://database/Assets/Resources/Data/UI/Cursor/Resize_Diag.png?fileID=2800000&guid=12607bbb123d2e94ba56a3adcbbccaa9&type=3#Resize_Diag') 12 12;
}

.status-window {
    position: absolute;
}

.chat-window {
    -unity-font-definition: url('project://database/Assets/Resources/Data/UI/Font/tahoma.ttf?fileID=12800000&guid=96fb7a735e76e0742bf125e2d4734bf3&type=3#tahoma');
    background-color: rgba(0, 0, 0, 0.25);
}

.ui-bg {
    background-color: rgba(19, 19, 19, 0.83)
}

.ui-border {
    border-width: 1px;
    border-color: rgba(66, 59, 41, 1);
}
.drag-area {
}

.hor-resize-handle {
}

.status-window .level-container {
    margin: 0;
    padding: 0;
    width: 22px;
    height: 19px;
    -unity-slice-top: 1;
    -unity-slice-left: 1;
    -unity-slice-bottom: 12;
    -unity-slice-right: 10;
    -unity-slice-scale: 0;
}

.status-window .bar-label {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: rgb(220, 220, 220);
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: black;
    -unity-text-align: middle-center;
}

.status-window .bar-label-name {
    -unity-font-definition: url('project://database/Assets/Resources/Data/UI/Font/asiahm-medium.ttf?fileID=12800000&guid=244aa0b24e0b1014ab31e5cc3bc49024&type=3#asiahm-medium');
    margin: 0;
    position: absolute;
    left: 10px;
    height: 11px;
    letter-spacing: -7px;
    -unity-font-style: bold;
}

.status-window .bar-label-numbers {
    -unity-font-definition: url('project://database/Assets/Resources/Data/UI/Font/TAHOMABD.TTF?fileID=12800000&guid=8184769e61bb85e4ba928a3b6b159f27&type=3#TAHOMABD');
    margin: 0;
    padding-left: 10%;
    height: 11px;
    letter-spacing: 5px;
}

.status-window .level-container .unity-label {
    margin: 0;
    padding: 0;
    -unity-text-align: middle-center;
    flex-grow: 1;
    font-size: 10px;
}

.status-windows .bar-container {
    height: 14px;
}

.status-window .bar-inner {
    min-height: 16px;
    max-height: 16px;
    flex-direction: row;
    flex: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.status-window .bar-inner .bar-height {
    min-height: 16px;
    max-height: 16px;
}

.status-window .bar-inner .left {
    min-width: 4px;
    max-width: 4px;
}

.status-window .bar-inner .right {
    min-width: 4px;
    max-width: 4px;
}

.status-window .bar-inner .center {
    flex-grow: 1;
}

.chat-window .unity-tab-view__header-container {
    margin-left: 23px;
}

.chat-window .unity-tab-view__content-container {
    flex-grow: 1;
}

.chat-window .unity-tab__header-underline {
    width: 0;
}

.chat-window .unity-tab__header {
    background-image: url('project://database/Assets/Resources/Data/UI/Tab/Tab_DF_Tab_Unselected.png?fileID=2800000&guid=9fcccf25212d2ba45ab07149e9f85004&type=3#Tab_DF_Tab_Unselected');
    background-color: transparent;
    -unity-slice-top: 24;
    -unity-slice-left: 5;
    -unity-slice-bottom: 0;
    -unity-slice-right: 5;
    -unity-slice-scale: 1px;
    rotate: 180deg;
    height: 25px;
    padding: 0;
    width: 64px;
    justify-content: center;
}

.chat-window .unity-tab__header:checked {
    background-image: url('project://database/Assets/Resources/Data/UI/Tab/Tab_DF_Tab_Selected.png?fileID=2800000&guid=a4bef18d4c0d3624195ae7bf5ba687a6&type=3#Tab_DF_Tab_Selected');
    -unity-slice-top: 24;
    -unity-slice-left: 5;
    -unity-slice-bottom: 0;
    -unity-slice-right: 5;
    -unity-slice-scale: 1px;
}

.chat-window .unity-tab__header:checked:hover {
    background-image: url('project://database/Assets/Resources/Data/UI/Tab/Tab_DF_Tab_Selected.png?fileID=2800000&guid=a4bef18d4c0d3624195ae7bf5ba687a6&type=3#Tab_DF_Tab_Selected');
    -unity-slice-top: 24;
    -unity-slice-left: 5;
    -unity-slice-bottom: 0;
    -unity-slice-right: 5;
    -unity-slice-scale: 1px;
}

.chat-window .unity-tab__header:hover {
    background-image: url('project://database/Assets/Resources/Data/UI/Tab/Tab_DF_Tab_Unselected_Over.png?fileID=2800000&guid=69a81866a3c01be45ab5e57824581859&type=3#Tab_DF_Tab_Unselected_Over');
}

.chat-window .unity-tab__header-label {
    rotate: 180deg;
    color: rgb(220, 220, 220);
    font-size: 11px;
    padding-bottom: 2px;
    margin: 0;
}

.chat-window .chat-content {
    padding: 4px 2px 0 0;
    margin: 0;
    color: rgb(220, 220, 220);
}

.chat-window .chatting-fontsize {
    background-color: transparent;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    -unity-slice-top: 0;
    -unity-slice-left: 0;
    -unity-slice-bottom: 2;
    -unity-slice-right: 2;
    -unity-slice-scale: 0;
    width: 14px;
    height: 14px;
    border-width: 0;
}

.chat-window .chatting-option {
    background-color: transparent;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    -unity-slice-top: 0;
    -unity-slice-left: 0;
    -unity-slice-bottom: 2;
    -unity-slice-right: 2;
    -unity-slice-scale: 0;
    width: 14px;
    height: 14px;
    border-width: 0;
}

.chat-window .unity-scroller__high-button {
    background-color: transparent;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    -unity-slice-top: 0;
    -unity-slice-left: 0;
    -unity-slice-bottom: 2;
    -unity-slice-right: 2;
    -unity-slice-scale: 0;
    width: 14px;
    height: 14px;
    border-width: 0;
}

.chat-window .unity-scroller__low-button {
    background-color: transparent;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    -unity-slice-top: 0;
    -unity-slice-left: 0;
    -unity-slice-bottom: 2;
    -unity-slice-right: 2;
    -unity-slice-scale: 0;
    width: 14px;
    height: 14px;
    border-width: 0;
}

.chat-window .chatting-option {
    background-image: url('project://database/Assets/Resources/Data/UI/Chat/chatting_option1.png?fileID=2800000&guid=9a6ea293fa56d5a4083e09b9c4684f3b&type=3#chatting_option1');
}

.chat-window .chatting-option:active {
    background-image: url('project://database/Assets/Resources/Data/UI/Chat/chatting_option2.png?fileID=2800000&guid=2397f064f86bf3f47a480683d5f90646&type=3#chatting_option2');
}

.chat-window .chatting-option:active:hover {
    background-image: url('project://database/Assets/Resources/Data/UI/Chat/chatting_option2.png?fileID=2800000&guid=2397f064f86bf3f47a480683d5f90646&type=3#chatting_option2');
}

.chat-window .chatting-option:hover {
    background-image: url('project://database/Assets/Resources/Data/UI/Chat/chatting_option1_over.png?fileID=2800000&guid=d8fcf3fe99c18024d95a92f58c405d62&type=3#chatting_option1_over');
}

.chat-window .chatting-fontsize {
    background-image: url('project://database/Assets/Resources/Data/UI/Chat/chatting_fontsize1.png?fileID=2800000&guid=722e30f5355637148b8efd75ddc83bcc&type=3#chatting_fontsize1');
}

.chat-window .chatting-fontsize:active {
    background-image: url('project://database/Assets/Resources/Data/UI/Chat/chatting_fontsize2.png?fileID=2800000&guid=5b93214152a50e841b300924c3373edb&type=3#chatting_fontsize2');
}

.chat-window .chatting-fontsize:active:hover {
    background-image: url('project://database/Assets/Resources/Data/UI/Chat/chatting_fontsize2.png?fileID=2800000&guid=5b93214152a50e841b300924c3373edb&type=3#chatting_fontsize2');
}

.chat-window .chatting-fontsize:hover {
    background-image: url('project://database/Assets/Resources/Data/UI/Chat/chatting_fontsize1_over.png?fileID=2800000&guid=df4d4dcf0ebb0894ba514a3d2be22628&type=3#chatting_fontsize1_over');
}

.chat-window .unity-base-text-field__input {
    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: transparent;
    color: rgb(220, 220, 220);
}

.chat-window .unity-base-field__input {
    margin: 0;
    padding: 0;
    border-width: 0;
    background-color: transparent;
    color: rgb(220, 220, 220);
}

.chat-window .unity-text-field {
    --unity-cursor-color: rgb(255, 255, 255);
    color: rgb(220, 220, 220);
    background-color: rgba(0, 0, 0, 0);
}

.chat-window #InnerBar {
    background-color: rgba(0, 0, 0, 0.35);
    border-width: 1px;
    border-color: rgba(84, 81, 75, 0.7);
}

#InnerBar.highlighted {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgb(106, 94, 71);
}

.chat-window .transparent-cursor {
    --unity-cursor-color: rgba(0, 0, 0, 0);
}

.chat-window .unity-tab__header-label {
    rotate: 180deg;
    color: rgb(220, 220, 220);
    font-size: 11px;
    padding-bottom: 2px;
    margin: 0;
}

.chat-window .unity-tab__content-container {
    flex-grow: 1;
}

.chat-window .unity-tab {
    flex-grow: 1;
    height: 1px;
    margin-bottom: -2px;
}

.chat-window .unity-scroll-view {
    padding: 2px 0 4px 0;
    font-size: 12px;
}

.chat-window .unity-scroll-view__content-viewport {
    margin-top: 6px;
    margin-bottom: 4px;
    overflow: hidden;
}

.chat-window .unity-scroll-view__content-and-vertical-scroll-container {
    flex-direction: row-reverse;
}

.chat-window .unity-scroller {
    width: 14px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 0;
}

.chat-window .unity-slider {
    margin: 15px 0 15px 0;
}

.chat-window .unity-base-slider__drag-container {
    background-color: transparent;
    min-width: 14px;
    width: 14px;
    padding: 0;
    border-width: 0;
    border-radius: 0;
}

.chat-window .unity-slider {
    background-color: transparent;
    min-width: 14px;
    width: 14px;
    padding: 0;
    border-width: 0;
    border-radius: 0;
}

.chat-window .unity-base-slider__tracker {
    background-color: transparent;
    min-width: 14px;
    width: 14px;
    padding: 0;
    border-width: 0;
    border-radius: 0;
}

.chat-window .unity-base-slider__dragger {
    min-width: 14px;
    width: 14px;
    margin-left: -3px;
    background-image: url('project://database/Assets/Resources/Data/UI/Scrollbar/SliderBar.png');
    background-color: transparent;
    -unity-slice-top: 0;
    -unity-slice-left: 0;
    -unity-slice-bottom: 2;
    -unity-slice-right: 2;
    -unity-slice-scale: 0;
    border-width: 0;
}

.chat-window .unity-base-slider__dragger-border {
    border-width: 0;
    margin: 0;
    padding: 0;
}

.chat-window .unity-disabled {
    opacity: 1;
}

.chat-window .unity-base-slider__tracker {
}

.chat-window .unity-scroller__high-button {
    background-image: url('project://database/Assets/Resources/Data/UI/Scrollbar/ScrollBarDownBtn.png');
}

.chat-window .unity-scroller__low-button {
    background-image: url('project://database/Assets/Resources/Data/UI/Scrollbar/ScrollBarUpBtn.png');
}

.nameplate .target-bubble {
    width: 16px;
    height: 16px;
    -unity-slice-left: 0;
    -unity-slice-scale: 0;
    -unity-slice-right: 15;
    -unity-slice-bottom: 15;
}

.nameplate .target-bubble-hover {
    background-image: url('project://database/Assets/Resources/Data/UI/Target/HeadDisplay_DF_Target_Normal.png');
}

.nameplate .target-bubble-target {
    background-image: url('project://database/Assets/Resources/Data/UI/Target/HeadDisplay_DF_Target_Target.png');
}

.nameplate .target-bubble-attack {
    background-image: url('project://database/Assets/Resources/Data/UI/Target/HeadDisplay_DF_Target_Attack.png');
}

.nameplate .target-name {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 2px;
    padding-bottom: 0;
    padding-left: 2px;
    -unity-font-definition: url('project://database/Assets/Resources/Data/UI/Font/tahoma.ttf');
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    font-size: 12px;
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: rgb(0,0,0);
    text-shadow: 0.5px 0 1px rgb(0, 0, 0);
}

.nameplate .target-title {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    -unity-text-align: upper-center;
    -unity-font-definition: url('project://database/Assets/Resources/Data/UI/Font/tahoma.ttf');
    color: rgb(156, 218, 144);
    -unity-font-style: bold;
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: rgb(0, 0, 0);
    font-size: 12px;
    text-shadow: 0.5px 0 1px rgb(0, 0, 0);
}

.target-window .unity-label {
    margin: 0;
    padding: 0;
    -unity-text-align: middle-center;
    flex-grow: 1;
    font-size: 10px;
}

.target-window .bar-container {
    height: 14px;
}

.target-window .bar-inner {
    min-height: 8px;
    max-height: 8px;
    flex-direction: row;
    flex: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.target-window .bar-inner .bar-height {
    min-height: 8px;
    max-height: 8px;
}

.target-window .bar-inner .left {
    min-width: 2px;
    max-width: 2px;
}

.target-window .bar-inner .right {
    min-width: 2px;
    max-width: 2px;
}

.target-window .bar-inner .center {
    flex-grow: 1;
}

.close-btn {
    background-color: transparent;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    border-width: 0;
    background-image: url('project://database/Assets/Resources/Data/UI/Frame/Frame_DF_Btn_Close/frames_df_btn_close.png');
    margin: 0;
    padding: 0;
}

.close-btn:active {
    background-image: url('project://database/Assets/Resources/Data/UI/Frame/Frame_DF_Btn_Close/frames_df_btn_close_Down.png');
}
.close-btn:active:hover {
    background-image: url('project://database/Assets/Resources/Data/UI/Frame/Frame_DF_Btn_Close/frames_df_btn_close_Down.png');
}
.close-btn:hover {
    background-image: url('project://database/Assets/Resources/Data/UI/Frame/Frame_DF_Btn_Close/frames_df_btn_close_Over.png');
}

